{% extends 'base.html' %}
{% block body %}
<!--begin::body-->
    <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <div class="kt-container  kt-grid__item kt-grid__item--fluid">
            {% for apoiador in apoiadores %}
            <div class="row">
    <!--begin:: Widgets/Applications/User/Profile3-->
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-portlet__body">
            <div class="kt-widget kt-widget--user-profile-3">
                <div class="kt-widget__top">
                    <div class="kt-widget__media kt-hidden-">
                        <img src="..{{ apoiador.img_perfil.url }}" alt="image">
                    </div>
                    <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest kt-font-light kt-hidden">
                        DP
                    </div>
                    <div class="kt-widget__content">
                        <div class="kt-widget__head">
                            <a href="#" class="kt-widget__username">
                                {{ apoiador.nome }}
                                <i class="flaticon2-correct"></i>
                            </a>
                        </div>
                        <div class="kt-widget__subhead">
                            <a><i class="flaticon2-ui"></i>{{ apoiador.profissao}}</a>
                            <a><i class="flaticon2-new-email"></i>{{ apoiador.email}}</a>
                            <a><i class="flaticon-event-calendar-symbol"></i>{{ apoiador.nascimento }}</a>
                            <a><i class="flaticon2-placeholder"></i>São Paulo - SP</a>
                        </div>
                        <div class="kt-widget__info">
                            <div class="kt-widget__desc">
                                {{ apoiador.descricao }}
                            </div>
                            <div class="kt-widget__progress">
                                <div class="kt-widget__text">
                                    Progresso
                                </div>
                                <div class="progress" style="height: 5px;width: 100%;">
                                    <div class="progress-bar kt-bg-danger" role="progressbar" style="width: 30%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="kt-widget__stats">
                                    30%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-widget__bottom">
                    <div class="kt-widget__item">
                        <div class="kt-widget__icon">
                            <a href="https://www.linkedin.com/in/pratadaniel94/" class=""><i class="flaticon-linkedin-logo"></i></a>
                        </div>
                    </div>
                    <div class="kt-widget__item">
                        <div class="kt-widget__icon">
                            <a href="#" target="_blank" data-toggle="modal" data-target="#kt_modal_4"><i class="flaticon-email"></i></a>
                        </div>
                    </div>
                    <div class="kt-widget__item">
                        <div class="kt-widget__icon">
                            <a href="#" class=""><i class="flaticon2-telegram-logo"></i></a>
                        </div>
                    </div>
                    <div class="kt-widget__item">
                        <div class="kt-widget__icon">
                            <i class="flaticon-file-2"></i>
                        </div>
                    </div>
                     <div class="kt-widget__item">
                        <div class="kt-widget__icon">
                            <a href="https://github.com/pratadaniel94" class=""><i class="fab fa-github-alt"></i></a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </div>
    <!--end:: Widgets/Applications/User/Profile3-->
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
    <!--begin::end body-->
{% endblock body %}